[submodule "modules/websockets"]
	path = modules/websockets
	url = https://gitlab.com/omnileads/omnileads-websockets.git
	branch = master
[submodule "modules/nginx"]
	path = modules/nginx
	url = https://gitlab.com/omnileads/omlnginx.git
	branch = master
